<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>fupload</servlet-name>
    <servlet-class>com.action.DouploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fupload</servlet-name>
    <url-pattern>/fupload/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imgupload</servlet-name>
    <servlet-class>com.action.ImageAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imgupload</servlet-name>
    <url-pattern>/imgupload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fdownload</servlet-name>
    <servlet-class>com.action.DodownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fdownload</servlet-name>
    <url-pattern>/fdownload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>taskList</servlet-name>
    <servlet-class>com.action.TaskListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taskList</servlet-name>
    <url-pattern>/taskList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>photoList</servlet-name>
    <servlet-class>com.action.PictureListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photoList</servlet-name>
    <url-pattern>/photo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>photedit</servlet-name>
    <servlet-class>com.action.PictureSelectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photedit</servlet-name>
    <url-pattern>/photedit/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>excelmaker</servlet-name>
    <servlet-class>com.action.MakeFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>excelmaker</servlet-name>
    <url-pattern>/excelmaker.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadNeedDownload</servlet-name>
    <servlet-class>com.action.UploadNeedDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadNeedDownload</servlet-name>
    <url-pattern>/uploadNeedDownload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>taskSwitch</servlet-name>
    <servlet-class>com.photo.grap.photograp.manage.AllTaskerSwitch</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>